
h1 {
    color: #0848F6
    }

.minhaimagem {
    width: 20%;
    border-radius: 75%;
   }
  .minhaimagem:hover{
    transform: scale(-1.3);
   }
#paragrafo {
       font-size: 3rem;
       color: #000
}
table, th, td {
    border: 1px solid #7B29E6
}
table{
     width: 50%;
     padding: 10px;
}

tr{
    background-color: #E8E231
}

td{
    background-color: #0848F6
}
.testepadding {
    padding: 10px 15px 20px 25px;
}
.testemargin {
    margin:  10px 20px;
}

.testepadding2 {
    padding: 30px;
}
.testepadding3 {
    padding-top: 5px;
    padding-right: 10px;
    padding-left:  15px;
    padding-bottom: 20px;
}

body{
    background-color: #B0AEE6
}

